@font-face {
    font-family:font;
    src: url(/FoundersGroteskCondensed-Bold.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
.left{
    height: 100vh;
    width: 100%;
    background: linear-gradient(red,orangered);
    position: relative;
}
.left h1{
    font-size: 19vw;
    color: white;
    -webkit-text-stroke: 1px rgb(24, 23, 23);
    font-family: font;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.left h1::selection{
background-color: white;
color: orangered;
}
.header{
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}
.logo{
    font-size: 2.3vw;
    text-transform: uppercase;
    color: white;
    font-family: font;
    font-weight: 900;

}
.logo::selection{
    background-color: white;
    color: orangered;
}
.nav a{
    font-size: 2vw;
    text-decoration: none;
    font-family: font;
    color: white;
    margin-left: 15px;
}
.nav a::selection{
    background-color: white;
    color: orangered;
}
.re-nav i{
    font-size: 2vw;
    color: white;
}
.image img{
position: absolute;
}
#fanta-or{
    height:30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:90;
}
#lf1{
    left: 54vw;
    top: 20vh;
    rotate: -80deg;
    scale: .6;
}
#lf2{
right:0;
top: 2vh;
}
#lf3{
left:4vw;
top: 0;
}
#lf4{
left:33vw;
height:35vh;
bottom:0;
}
#lf5{
right:1vw;
bottom:0;
z-index: 1;
}
.page2{
    height: 100vh;
    width: 100%;
    /* background:linear-gradient(rgb(33, 8, 8),orangered); */
    background:linear-gradient(orangered,rgb(33, 8, 8));
    z-index: -1;
    position: relative;
}
.page2 h1{
   font-size: 19vw;
   font-family: font;
   text-transform: uppercase;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 10;    
}
#or1{
    position: absolute;
    top: 3vw;
    left: 17vh;
    z-index: 10;
}
#la1{
    position: absolute;
    height: 43vw;
    width: 45vh;
    right: 2vw;
    top: 7vh;
    
}
.page3{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#240908,orangered);
    position: relative;
    z-index: -2;
}
.all-iteam{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    padding: 10vh 10vw;
}
#grp-fan{
    position: absolute;
    height: 75vh;
    left: 68vh;
    top: 5vw;
    z-index: 20;
    scale: .2;
}
.item{
    height: 69vh;
    width: 25vw;
    /* border: 2px solid white; */
    /* background-color: gold; */
    backdrop-filter: blur(50px);
    border-radius: 10px;
    z-index: -1;
}
#el2{
    margin-top: 120px;
}
#grp{
    height: 35vh;
    width: 35vw;
    position: absolute;
    top: 48vh;
    left: 35vw;
    rotate: -29deg;
}